# Database Configuration
DATABASE_URL=
DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=

# Supabase Client Configuration (Frontend)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
